<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Online string distance matching" />
    <meta name="robots" content="All" />
    <title>String Distance | Online string distance matching</title>
    <!--<link rel="stylesheet" href="/static/stylesheets/font-awesome.min.css">-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css"
        integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
    <link rel="icon" type="image/png" href="/static/favicon-code.ico">
    <!-- Bootstrap core CSS -->
</head>

<body>
    <nav class="navbar navbar-static-top navbar-dark bg-inverse">
        <a class="navbar-brand" title="Online String Distance and fuzzy matching tools" href="/"><i
                class="fa fa-lg fa-code" aria-hidden="true"></i> STRING DISTANCE</a>
        <ul class="nav navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/api">API</a>
            </li>
        </ul>
    </nav>
    <div class="jumbotron">
        <div class="container">
            <a href="/" title="String Distance">
                <h1 class="display-4">Automated String Mapping</h1>
            </a>
            <p>
                Performing fuzzy mapping of similar data sets which have non-exact overlap is a common business problem.
                For example, merging and de-duplicating two product catalogs after an aquisition or merging data
                collected from disparate sources often needs to be completed to maintain quality data for a given
                business service. <strong>String distance</strong> matching of two similar data sets is a solution which
                can automate this task and reduce the size of the problem.
            </p>
            <p>
                String distance algorithms compare two strings of text and determine the "distance" between them, which
                is typically considered the number of edits required to make the two strings identical. If the distance
                is short or below a certian threshold, then the mapping can be treated as a match with some level of
                confidence.
            </p>
            <p>
                For example, consider the strings <code>Lord of the Rings</code> and <code>The Lord of the Rings</code>.
                The two strings are not directly equal, however, only 4 edits are required to make the strings equal,
                which is a relatively low distance and would be considered a fuzzy match. This type of problem solving
                can be useful for many different business problems.
            </p>
            <p>
                This application provides an online tool for basic String Distance matching and a REST API which can be
                accessed
                programatically for more advanced cases.
            </p>
        </div>
    </div>
    <div class="container">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#interactive" role="tab">Interactive</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#api" role="tab">API</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="interactive" role="tabpanel">
                <div class="row" style="padding-top: 1em;">
                    <div class="col-sm-12">
                        <div>
                            <p>
                                Use the interactive online tool to perform fuzzy string distance mapping between two
                                data sets. After you submit the form, the results will be presented in an online table
                                below.
                            </p>
                            <p>
                                Fuzzy matches are not case sensitive, but do require that the whole source string be
                                present in the target or vice versa. For example <code>Golden Son</code> will not fuzzy
                                match to <code>Golden Sun</code>.
                            </p>
                        </div>
                        <div id="root" style="padding-top: 1em;"></div>
                        <div id="table"></div>
                        <script type="text/javascript" src="static/js/app.js"></script>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="api" role="tabpanel" style="padding-top: 1em;">
                <p>
                    You can access the REST API directly by submitting an HTTP POST request with your source and target
                    data to <code>/api/v1/distance</code>.
                </p>
                <p>
                    The API POST expects a JSON formatted body containing <code>source</code> and <code>target</code>
                    attributes with comma delimited lists of source and target strings in the same way that the
                    interactive form works.
                    <p>
                        <p>
                            Here's an example using curl:
                        </p>
                        <p>
                            <pre style="background-color: #f7f7f9;">
<code>curl http://localhost:8080/api/v1/distance -d \
'{"source":"Lord of the rings, Hunger games, A river runs through it",
"target":"The Lord of the Rings, Hunger Games The Movie, A River Runs Through"}'</code></pre>
                        </p>
                        <p>
                            Which produces a JSON response like this:
                            <pre style="background-color: #f7f7f9;">
<code>{
  "Success": true,
  "results": [
    {
      "Source": "Lord of the rings",
      "Target": "The Lord of the Rings",
      "Distance": 5
    },
    {
      "Source": " Hunger games",
      "Target": " Hunger Games The Movie",
      "Distance": 11
    },
    {
      "Source": " A river runs through it",
      "Target": " A River Runs Through",
      "Distance": 6
    }
  ]
}</code></pre>
                        </p>
                        <p>
                            Fuzzy matches are not case sensitive, but do require that the whole source string be present
                            in the target or vis-a-versa. For example <code>Golden Son</code> will not fuzzy match to
                            <code>Golden Sun</code>.
                        </p>
                        <p>
                            The API also service handles various different failure cases which will result in a response
                            with HTTP Status <code>400 Bad Request</code>, <code>Success: false</code> and a message in
                            the JSON response:
                            <pre style="background-color: #f7f7f9;overflow: auto;word-wrap: normal;white-space: pre;">
<code>{
  "Success": false,
  "Message": "HTTP POST must have JSON object with key called 'source' 
  containing a comma delimited list of source strings to be mapped"
}</code></pre>
                        </p>
            </div>
        </div>
        <footer style="margin-top: 3em; margin-bottom: 3em;">
            <hr>
            </hr>
            <small>STRINGDISTANCE does not store, reproduce, or retransmit your data.</small>
        </footer>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"
        integrity="sha384-THPy051/pYDQGanwU6poAc/hOdQxjnOEXzbT+OuUAFqNqFjL+4IGLBgCJC3ZOShY"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js"
        integrity="sha384-Plbmg8JY28KFelvJVai01l8WyZzrYWG825m+cZ0eDDS1f7d/js6ikvy1+X+guPIB"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js"
        integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK"
        crossorigin="anonymous"></script>
</body>

</html>